.formRegister{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 100px;
    border-right: 1px solid black;
}
inputForm{
    color: white;
    margin-top: 10px;

}
.modalRegister{
    margin-bottom: 20px;
}