.formRegister{
   border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-image: linear-gradient(190deg, #ffffa7 0, #ffffa4 16.67%, #eaffa1 33.33%, #d5f29d 50%, #c1e499 66.67%, #afd896 83.33%, #a0cd93 100%);
}
inputForm{
    color: white;
    margin-top: 10px;
    margin: 10px;

}
.modalRegister{
    margin-bottom: 20px;
  
}
.TextField{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button{
    margin: 10px;
}