.card{
    background-color: rgba(128, 128, 128, 0.419);
    border-radius: 10px;
    max-width: 300px;
}
.date{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.delete{
    margin: 10px;
}

.conclude{
    background-color: green;
    margin: 10px;
}