/* .modal{
    border-radius: 5px;
    background-color: rgb(255, 253, 250);
    color: black;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-content: center;
}
.modal h2{
    font-weight: 300;
    margin-bottom: 100px;
}
.body{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.footer{
    display: flex;
    
    flex-direction: row;
    margin: 20px;
    justify-content: space-evenly;
} */